language: ruby
cache: bundler
before_install:
- gem update --system
- gem install bundler
- bundle outdated
script:
- ./build
before_deploy:
- if [[ -z "$TRAVIS_TAG" ]] ; then cp robots.txt-for-beta.code.mil _site/robots.txt ; fi
deploy:
  - provider: s3
    secret_access_key: "$SECRET_ACCESS_KEY"
    bucket: "beta.code.mil"
    region: us-east-1
    local_dir: _site
    skip_cleanup: true
    acl: public_read
    on:
      branch: master
  - provider: s3
    secret_access_key: "$SECRET_ACCESS_KEY"
    bucket: "www.code.mil"
    region: us-east-1
    local_dir: _site
    skip_cleanup: true
    acl: public_read
    on:
      tags: true
      condition: "$TRAVIS_TAG =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+$"
