language: ruby
cache: bundler
if: type = push
script:
- ./scripts/test
notifications:
  email: false
  slack:
    rooms:
      secure: rYAOdUjwmpqLWMnN3eB02NkpUQFq4EBqphtbos52gELYIeCAsBB12fFhYCUkoiRYni+cVYdqL3vf4eoa2QQwIycE9yQkgWNkSarg1SWmA5jVTlhfhIzONsG08U8hB7M4RRD6fO8h36nVVi47OjlAKjmNpy5Kb9cV4himbAsl+Rlhj3GHsZwNDZNZtJQqz+hn6mD6rqr8OT5zvYKMce7RFIPpGwIFQtWcn8hCgAazu5H6U517bGyrRwOdtNBHGd+91ZzJTNvBu1koUWeWHT1l/uuOTv8BAmU2Dmt24JNc0fpOTxBCWsQcDfElhZd9lptBRQMAUoP5wCmALoDuLt8BtTlnwfN1zpWaMf2zZtMYtnTe50wSpv0tYHnu8zx8dZ1TaMYjIrzWWZBu54LpKKoMhGzwNnD++GpW4Ul6GK8C+aIFqt0s8g3LyE07LBCYs/7hAOZRYT+O7mmqwNY1+eDuyxhjqnnTkObrctGrYZPslRaQ8lfVowYOTLxan+rjwCoekGes7mBssYVpNg7ko3f2iIQ+TIQbfaszlBBTt3F0hYTJwWOMtRf0ReQKgGD8Pq99NmfRUDKoVbdiBgbJscwChzz7c5NMk0ydJKi5ejmzn4vja9/C2igJ2I7gOkpIxVq1Bha8gs+8kOlaZio4qcBR26JoTsEqOFpVTJiLnhha3Ww=
