.hidden {
  display: none;
}

.usa-hero-callout .usa-button {
  margin-top: 4rem;
}

.usa-link-medium {
  background-image: url('/assets/images/medium.png');
}

.usa-link-github {
  background-image: url('/assets/images/github.png');
}

.usa-footer-contact-links .usa-link-generic {
  text-decoration: none;
}

.usa-content .usa-layout-docs-main_content p {
  max-width: none;
}

/* Decision Tree UI */
.tree-node {
  display: none;
}

.tree-node.active {
  display: block;
}

aside.tree-reset {
  text-align: right;
}

.tree-node-answer {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em auto;
  text-align: center;
  width: 60%;
}
